*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

footer {
	text-align: center;
}

@-moz-keyframes nodeInserted {
  from { opacity: 0; max-height: 0.001em;}
  to { opacity: 1; max-height: 10em;}
}
@-webkit-keyframes nodeInserted {
from { opacity: 0; max-height: 0.001em;}
to { opacity: 1; max-height: 10em;}
}

.box {
	padding: 0em;
	max-width: 30em;
	margin: 2em auto;
	background: #6A6;
	border-radius: .2em;
	color: #EFEFEF;
	text-shadow: 0 0.2ex 0.2ex rgba(0,0,0,0.25);
	box-shadow:  0 0.25ex 2ex rgba(0,0,0,0.5) inset;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: nodeInserted;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: nodeInserted;
	animation-duration: 0.5s;
   animation-timing-function: ease-in-out;
 	animation-name: nodeInserted;
   overflow: hidden;
}

.propname,
.prop {
   width: 50%;
   display: inline-block;
   vertical-align: top;
}

.propname {
   text-align: right;
   padding-right: 2em;
}


.intro {
   padding: 1em;
}

.intro h1 {
   text-align: center;
}


.data {
	margin: 1ex auto;
	padding: 1ex 2em;
	background: #F7F7F7;
	text-shadow: 0 0.1ex 0.1ex rgba(0,0,0,0.125);
	box-shadow:  0 0.125ex 1ex rgba(0,0,0,0.25) inset;
	color: #666;
}

.data>div {
	font-size: 75%;
	font-weight: normal;
}

#md5 {
	font-size: 50%;
}

.box:drag-over,
.box:-webkit-drag-over {
	background:#C96;
}

.preview {
   margin-top: 1ex;
   margin-bottom: 1ex;
}

#rjb * {
	position: absolute;
	left:1em;
	top:1ex;
	text-decoration: none;
	color: #369;
}
